@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}

.main-header {
  /* padding: 0 30px; */
  height: 60px;
  width: 100%;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  /* min-width: 90vw; */
  z-index: 1;
}

.main-content {
  margin-top: 60px;
  width: 100%;
  position: relative;
}

.menu-icon,
.menu-avatar {
  margin: 0 30px;
  padding: 8px 14px;
  border-radius: 8px;
}

.menu-icon:hover,
.menu-avatar:hover {
  background-color: #dd553d;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  min-height: 100vh;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #fafafa;
  width: 100%;
  z-index: 2;
}

.active-nav-tab {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.closed {
  visibility: hidden;
}

.nav ul {
  width: 90%;
}

.nav ul li a {
  padding: 8px 14px;
  font-size: 14px;
}

.nav ul li a {
  color: #1b1b1b;
  display: flex;
  justify-content: space-between;
}

.nav-item:hover {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.item-icon {
  padding-right: 8px;
}

.main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.main > * {
  width: 100%;
}

.today-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 1px solid #f0f0f0;
}

.heading-title {
  font-size: 20px;
  padding-right: 20px;
}

.heading-title-date {
  font-size: 12px;
}

.header-title {
  display: flex;
  align-items: center;
}

.schedule-message {
  background-color: #1b1b1b;
  border: 0;
  border-radius: 8px;
  padding: 12px 30px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.message h2 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
}

.message-date-time {
  font-size: 12px;
}

@media (min-width: 550px) {
  .today-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* margin-bottom: 50px; */
  }
  .schedule-message {
    position: static;
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .main-content {
    display: flex;
    gap: 0;
  }

  .nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    left: 0;
    max-width: 250px;
  }

  .closed {
    visibility: visible;
  }
  .nav ul {
    width: 100%;
  }

  .nav ul li a {
    padding: 8px 14px;
  }

  .nav ul li a {
    color: #1b1b1b;
    display: flex;
    justify-content: space-between;
  }

  .nav-item:hover {
    background-color: #f1f1f1;
    border-radius: 8px;
  }

  .item-icon {
    padding-right: 8px;
  }

  .main {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    top: 60px;
  }

  .main > * {
    max-width: 800px;
  }

  .today-header {
    margin: 0 25px 0 25px;
  }

  .heading-title {
    padding-right: 20px;
  }

  .schedule-message {
    background-color: #1b1b1b;
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
  }

  .messages {
    border: 0;
    border-radius: 8px;
    /* margin: 0 25px 25px 0; */
    /* margin-top: 75px; */
  }
}
