@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --dark-gray:#333333;
  --light-gray:#FAFAFA;
  --border-radius:10px;
}

.App{
  display: grid;
  /* color: red; */
}

.main-header{
  color: var(--light-gray);
  background-color: var(--dark-gray);
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#FAFAFA;
  background: none;
  border: 1px solid var(--light-gray);
  width: 37px;
  height: 37px;
  border-radius: var(--border-radius);
}

.navigation{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.navigation a{
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  text-decoration: none;
}

.navigation a  svg{
  width: 24px;
}