@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-gray: #333333;
  --light-gray: #fafafa;
  --background-1: #ffffff;
  --background-2: #fafafa;
  --border-1: #e6e6e6;
  --border-radius: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header {
  grid-area: "header";
  grid-template-columns: span 2;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  background: none;
  border: 1px solid var(--light-gray);
  width: 37px;
  height: 37px;
  border-radius: var(--border-radius);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 75px;
}

.navigation {
  background-color: var(--background-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-right: 1px solid var(--border-1);
  padding: 40px;
  min-height: calc(100vh - 75px);
  display: none;
  position: fixed;
  top: 75px;
}

.active-navigation {
  display: flex;
  z-index: 20;
}

.nav-item {
  border: 1px solid var(--border-1);
  border-radius: var(--border-radius);
  padding: 15px;
  text-decoration: none;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 267px;
  /* min-width: 220px; */
  background: none;
}

.nav-item:hover {
  font-weight: 700;
  background-color: var(--background-1);
}

.nav-item:hover .message-count {
  font-weight: 400;
}

.nav-item-left {
  display: flex;
  align-items: center;
}

.nav-icon {
  display: flex;
  width: 24px;
  margin-right: 10px;
}

.message-count {
  display: flex;
  align-items: center;
}

.active-nav {
  font-weight: 700;
  background-color: var(--background-1);
}

.active-nav .message-count {
  font-weight: 400;
}

.schedule-message-btn {
  font-weight: 700;
  color: var(--background-1);
  background-color: var(--dark-gray);
  text-decoration: none;
  padding: 10px 25px;
  border-radius: var(--border-radius);
}

.schedule-message-btn.main-section-btn {
  display: none;
}

.schedule-message-btn.bottom-section-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.main-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading-left {
  display: flex;
  align-items: center;
}

.heading-title {
  font-size: 3.6rem;
  margin-right: 20px;
}

.horizontal-divider {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--border-1);
  margin: 20px 0px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  display: flex;
  padding: 30px;
  border: 1px solid var(--border-1);
  border-radius: var(--border-radius);
}
.message h2 {
  font-size: 1.8rem;
}

/* Medium screens */
@media only screen and (min-width: 600px) {
  .schedule-message-btn.main-section-btn {
    display: block;
  }
  .schedule-message-btn.bottom-section-btn {
    display: none;
  }
}

/* Larger screens */

@media only screen and (min-width: 950px) {
  #root {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .main {
    flex-direction: row;
    justify-content: center;
  }

  .main-header {
    width: 100%;
  }

  .navigation {
    position: fixed;
    left: 0;
    align-items: flex-end;
    padding: 40px;
    display: flex;
  }

  .main-section {
    max-width: 1000px;
    width: 100%;
    margin-left: 350px;
    min-height: calc(100vh - 75px);
  }
}
